.product-table-container {
  width: 90%;
  max-width: 1000px;
  margin: 0 auto;
  background-color: #f1f1f1; /* Light background for the container */
  padding: 20px;
  border-radius: 10px;
}

.table-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 15px;
}

.table-header h2 {
  font-size: 1.5rem;
  font-weight: bold;
  color: #333;
}

.add-product-button {
  padding: 8px 12px;
  font-size: 1rem;
  color: white;
  background-color: #007bff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.add-product-button:hover {
  background-color: #0056b3;
}

.add-product-button:active {
  background-color: #004085;
}

.product-table {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #f7f7f7; /* Slightly darker background for the table */
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  width: 100%;
}

.product-row {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  padding: 12px;
  border-bottom: 1px solid #ddd;
  background-color: #fafafa; /* Slightly darker gray */
  font-size: 0.9rem;
}

.product-image-container {
  flex: 0 0 50px;
}

.product-image {
  width: 40px;
  height: 40px;
  object-fit: cover;
  border-radius: 5px;
}

.product-info {
  flex: 1;
  display: flex;
  flex-direction: column;
  gap: 5px;
  padding-left: 10px;
}

.product-index {
    width: 40px;
    text-align: center;
    font-weight: bold;
  }

.product-name {
  font-weight: bold;
  font-size: 1rem;
}

.product-price {
  color: #28a745;
}

.product-actions {
  display: flex;
  gap: 8px;
}

.product-actions button {
  padding: 5px 8px;
  font-size: 0.85rem;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.product-actions button:hover {
  background-color: #007bff;
  color: white;
}

.product-actions button:active {
  background-color: #0056b3;
}
