<div class="admin-panel">
    <h2>Functions Overview</h2>
    <div class="functions-container">
      <div class="function-box">
        <a routerLink="product-management" >
          <div class="function-content">
            <h3>Product Management</h3>
          </div>
        </a>
      </div>
      
      <div class="function-box">
        <a routerLink="orders" >
          <div class="function-content">
            <h3>Order Management</h3>
          </div>
        </a>
      </div>
    </div>
  </div>

  <router-outlet></router-outlet>