<div class="homepage">
    <header class="hero">
      <h1>Welcome to Our Shop</h1>
      <p>Discover a wide variety of products and enjoy a seamless shopping experience.</p>
      <a routerLink="/products"  class="btn">Browse Products</a>
    </header>
  
    <section class="features">
      <div class="feature">
        <h2>Shop & Add to Cart</h2>
        <p>Find what you need and add items to your shopping cart with ease.</p>
      </div>
      <div class="feature">
        <h2>Product Inquiries</h2>
        <p>Have questions? Reach out to us for more details on any product.</p>
      </div>
      <div class="feature">
        <h2>We Value Your Feedback</h2>
        <p>Your opinions matter! Share your thoughts to help us improve.</p>
      </div>
    </section>
  </div>
  
  